/* -------------------------------------------------------

	Description: Popup CSS
	Version: 1.0
	Author: Arjun Rao
	Author URI: www.arjunrao.co

------------------------------------------------------- */

body {
	text-align: center;
}

.tv{
	width:300px;
	max-width:300px;
	height:250px;
	max-height: 250px;
	display: inline-block;
}

a.sb,
.sb a {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 2px 5px 0;

	/* default button color */
	background-color: #ececec;
	border: solid 1px #b8b8b9;

	/* default box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

	/* default border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
a.sb.twitter,
.sb a.twitter {
	background-image: url(images/twitter-circle.png);
	margin-right: 20px
}
a.sb.facebook,
.sb a.facebook {
	background-image: url(images/facebook-circle.png);
	margin-left: 20px
}

#cats {
    background-color: #06DCFB;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		margin-bottom: 5px;
}
